@import url('https://fonts.googleapis.com/css?family=Fira%20Sans');

:root {
    --zr-dark: rgba(21, 24, 39, 0.6);
    --zr-error: #ff5d5d;
    --zr-success: #00ffcb;
    --zr-warning: #FFC107;
    --zr-info: #7289d9;
    --zr-primary: #7289d9;
    --zr-car: #00C2FF;
    --zr-bank: #4EBE42;
    --zr-cash: #4EBE42;
    --zr-message: #FFDD00;
    --zr-phone: #FF6600;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Fira sans';
}

#zr-container {
    width: 100vw;
    height: 100vh;
}

#zr-left {
    position: fixed;
    width: 20.833vw;
    height: fit-content;
    left: -20.833vw;
    top: 1.563vw;
    display: flex;
    flex-direction: column;
    gap: 1.042vw;
}

#zr-right {
    position: fixed;
    width: 20.833vw;
    height: fit-content;
    right: -21.354vw;
    top: 1.563vw;
    display: flex;
    flex-direction: column;
    gap: 1.042vw;
}

.zr-notif-cont {
    position: relative;
    width: 20.833vw;
    height: fit-content;
    min-height: 4.167vw;
    background-color: var(--zr-dark);
    border-radius: 0.417vw;
    display: flex;
    align-items: center;
}

.zr-notif-img {
    position: absolute;
    left: 1.042vw;
    width: 1.250vw;
    height: 1.250vw;
    background-repeat: no-repeat;
    background-size: cover;
}

.zr-notif-line {
    position: absolute;
    left: -0.156vw;
    top: 50%;
    transform: translateY(-50%);
    width: 0.313vw;
    height: 2.083vw;
    border-radius: 0.521vw;
}

.zr-notif-data {
    width: fit-content;
    height: fit-content;
    min-height: 2.083vw;
    margin-left: 3.125vw;
    padding-top: 1.042vw;
    padding-bottom: 1.042vw;
    width: 16.667vw;
}

.zr-data-title {
    color: white;
    font-size: 0.938vw;
    font-weight: bold;
}

.zr-data-msg {
    color: white;
    font-size: 0.729vw;
    margin-top: 0.104vw;
}

.zr-triple {
    position: absolute;
    width: 2.083vw;
    height: 0.417vw;
    display: flex;
    gap: 0.417vw;
    top: 0vw;
}

.zr-triple-ele {
    width: 0.417vw;
    height: 0.417vw;
    border-radius: 0vw 0vw 0.208vw 0.208vw;
}
